@font-face {
  font-family: 'Silent Hill';
  src: url('/fonts/SLNTHLC.ttf') format('truetype'),
    url('/fonts/SLNTHLE.ttf') format('truetype'),
    url('/fonts/SLNTHLN.ttf') format('truetype');
}

@font-face {
  font-family: 'horror';
  src: url('/fonts/horror.ttf') format('truetype');
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'horror', monospace;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  color: #36395a;
  height: 100%;
  background-color: white;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
